/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
	overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'Cotham Sans';
  src: url('../fonts/CothamSans.eot');
  src: url('../fonts/CothamSans.eot?#iefix') format('embedded-opentype'), url('../fonts/CothamSans.woff2') format('woff2'), url('../fonts/CothamSans.woff') format('woff'), url('../fonts/CothamSans.ttf') format('truetype'), url('../fonts/CothamSans.svg#Cotham Sans') format('svg');
}

* {
    -webkit-overflow-scrolling: touch;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Cotham Sans';
  position: fixed;
/* overflow: hidden; */

}

img {

  position: relative;
	overflow: auto;
}

.image-container {
  position:absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1000;

}

#scroll-me {
  width: 100vw;
  height: 100vh;
  overflow:scroll;
  position: relative;
  background-image: linear-gradient(to bottom, #00cece, #00b7eb, #009aff, #0073ff, #0527ff);
}

h1 {
  text-align: center;
}

p {
  font-family: 'Cotham Sans';
  font-size: 1em;
}

p.bodyText {
  padding: 24px;
}

p.movement-counter {
	display: block;
	position: fixed;
	font-size: 3em;

	overflow-y: none;
	overflow-x: none;
	color: black;
	margin: auto;
	width: 98%;
left: 2%;
top: 0;

}

#fitBox {
  display: flex;
  flex-direction: column;
	z-index: 10005;
  position: fixed;
  height: 100%;
  width: 99vw;

}

.divStyling {
  border-radius: 1em;
  color: white;
  padding: 1em;
  overflow: hidden;
}

.smallDivStyling p {
  margin: 5px;
}

.divRow {
  margin-left: 7%;
  margin-right: 7%;
}

div.bodyInfo {
  background-color: transparent;
  flex-basis: auto;
  flex-grow: 3;
  overflow-y: hidden;
  height: auto;
  z-index: 1000;
  position: relative;
  display: inline-block;
  padding: 18px;
  /* margin-top: 5%; */
}

div.bodyInfo h1 {
  font-size: 1.5em;
  padding: : 0em;
  text-align: center;
  margin-top: auto;
}

div.content {
  flex-shrink: 2;
  z-index: 1000;
  position: relative;
  display: inline-block;
  margin-top: 5%;
  overflow-x: hidden;
	width: auto;
	margin: auto;
  overflow-y: auto;

}

div.content p {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.3em;

}

div.options {
	flex-shrink: 0;
	flex-grow:
	width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 0%;
	padding-bottom: 5%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch; /* [4] */
-ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}

.smallDivStyling {
	flex: 0 0 auto;
  width: auto;
  border-radius: 1em;
  mix-blend-mode: screen;
  overflow: auto;
  background-color: white;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 5px;
}

div.options div p {
  font-size: 0.8em;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div.content p {
    font-size: 1em;
    line-height: 1.375em;
  }


  .divRow {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  div.bodyInfo {
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 1;
    display: block;
    padding-top: 2em;
  }

  div.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: block;
		z-index: 1000;
		position: relative;
		display: inline-block;
		margin-top: 5%;
  }

  div.options {
    margin-left: auto;
    margin-right: auto;
		  flex-wrap: wrap;
			  margin-bottom: 5%;
				height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
